@{
    Layout = "_Layout";
}
<li><a asp-area="" asp-controller="Content" asp-action="Index">Content</a></li>

<li><a asp-area="" asp-controller="Content" asp-action="VueSample">VueSample</a></li>
<li><a asp-area="" asp-controller="Content" asp-action="VueSample1">VueSample1</a></li>
<li><a asp-area="" asp-controller="Content" asp-action="VueShow">VueShow</a></li>
<li><a asp-area="" asp-controller="Content" asp-action="VueFor">VueFor</a></li>
<li><a asp-area="" asp-controller="Content" asp-action="VueBind">VueBind</a></li>
<li><a asp-area="" asp-controller="Content" asp-action="VueOn">VueOn</a></li>
